.formateurs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .formateurs li {
    position: relative;
    cursor: pointer;
  }
  
  .formateurs li:hover {
    left: .1em;
  }
  
  .formateurs a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .formateurs a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .formateurs a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .formateurs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  img{
    height: 70px;
    width: auto;
    
  }
#titre{
  position:relative;
  text-align:center;
  color:#ffcc00;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
#nom{
  background-color:initial;
  
}
#nom:hover{
  color: #ffcc00;
}
.row{
  margin-left: 0;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#add {
  top: 20px;
  background-color: #e6bd39;
}

#home {
  top: 80px;
  background-color: #175a91; /* Blue */
}


