<div class="col-auto">
    <div class="col-auto">
        <label for="inputname" class="form-label">Firstname</label>
        <input type="text" [(ngModel)]="formateur.firstname" class="form-control"  placeholder="Firstname">
      </div>
      <div class="col-auto">
        <label for="inputname" class="form-label">Familyname</label>
        <input type="text" [(ngModel)]="formateur.familyname" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Familyname">
      </div>
    <div class="col-auto">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" [(ngModel)]="formateur.email" class="form-control" placeholder="Email">
    </div>
    <div class="col-auto">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" [(ngModel)]="formateur.adresse" class="form-control" placeholder="Address">
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Domaine</label>
      <select class="form-select" [(ngModel)]="formateur.domaine" id="autoSizingSelect" placeholder="Domaine">
        <option value="Full stack">Full stack</option>
        <option value="Machine learning">Machine learning</option>
        <option value="Deep learning">Deep learning</option>
        <option value="Data analysis">Data analysis</option>
      </select>
    </div>
    
    <div class="col-12">
        <button class="btn btn-outline-danger" routerLink="/formateurs">go back</button>
        <button class="btn btn-outline-success" (click)=saveFormateur()>save </button>
    </div>
</div>


 
